body{
    transition: background-color 0.6s ease;
    font-family: Arial, sans-serif;
    padding: 25px;
    background-color: white;
    color: white;
    font-size: 25px;
}

.dark_mode{
    background-color: black;
    color: white;
}

.light_mode {
    background-color: white;
    color: white;
}
