body{
    transition: background-color 0.6s ease;
    font-family: Arial, sans-serif;
    padding: 25px;
    background-color: #EEEEEE;
    color: #222831;
    font-size: 25px;
}

body.dark_mode{
    background-color: #222831;
    color: #EEEEEE;
}

.top_navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.home_btn,
.about_btn,
.contact_btn, 
.project_btn,
.mode_btn{
    padding: 1%;
}

@font-face {
    font-family: hifont;
    src: url('../fonts/MonospaceTypewriter.ttf');
}

.greetings_content{
    font-family: hifont;
    font-size: 16px;
}

.main_content{
    padding-top: 7%;
    padding-bottom: 3%;
}


@font-face {
    font-family: myfont;
    src: url('../fonts/LeagueSpartan-Bold.otf');
}

.name_content{
    font-family: myfont;
    font-size: 50px;
    font-weight: bold;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.desc_content {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    font-family: monospace;
    font-size: 1.5em;
    animation: blink 0.75s step-end infinite alternate;
}

.desc_content{
    font-size: 43px;
    color: #22283180;
}

.dark_mode .desc_content{
    color: #eeeeee80;
}

.breif_content{
    width: 50%;
}

.check_resume{
    padding: 2%;
    border: 2px solid #22283180;
    border-radius: 7px;
    width: max-content;
    cursor: pointer;
}

.dark_mode .check_resume{
    border-color: #ffffff80;
}

.check_resume:hover{
    color: #eeeeee80;
    background-color: #222831;
}

.dark_mode .check_resume:hover{
    background-color: #eeeeee80;
    color: #222831;
}

.about_title, 
.project_title,
.contact_title{
    font-family: myfont;
}

.about_desc{
    padding-top: 14%;
}

.dummy_desc{
    font-family: hifont;
    padding-bottom: 3%;
    font-size: 14px;
    align-items: flex-start;
}

.about_line{
    padding-bottom: 2%;
}

.about_line1,
.about_line3{
    font-size: 20px;
    width: 60%;
    align-items: flex-start;
    padding: 2% 0% 2% 0%;
}

.about_line2,
.about_line4{
    text-align: right;
    padding: 2% 0% 2% 0%;
    margin-left: 40%;
    font-size: 20px;
}

.project_tools{
    font-style: italic;
    font-size: 14px;
}

.project_desc{
    font-size: 20px;
}

.project_sec{
    padding-bottom: 4%;
}

.project_link{
    padding: 1% 2%;
    border: 2px solid #22283180;
    border-radius: 7px;
    width: fit-content;
}

.project_detail{
    color: #222831;
    text-decoration: none;
}

.project_link:hover .project_detail{
    color: #ffffff;
    text-decoration: none;
}

.project_link:hover{
    background-color: #222831;
}

.dark_mode .project_detail{
    color: #ffffff;
}

.dark_mode .project_link{
    border-color: #ffffff80;
}

.dark_mode .project_link:hover .project_detail {
    color: #222831;
    text-decoration: none;
}

.dark_mode .project_link:hover{
    background-color: #ffffff80;
}